<ul>
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="/about">About</a>
  </li>
</ul>
<router-outlet></router-outlet>

<form (submit)="addUser(newUser)">
  <input type="text" #newUser>
  <button>
    Send users
  </button>
</form>

<ul>
  <li *ngFor="let user of users">
    {{ user }}
    <button (click)="deleteUser(user)">
      X 
    </button>
  </li>
</ul>

<div>
  <form>
    <input type="text" name="name" [(ngModel)]="name">
    <input type="text" name="age" [(ngModel)]="age">
  </form>

  {{ name }} <br>
  {{ age }}
</div>
